/*------- BODY -------*/
body{
    background-color: aliceblue;
}
/*--------------------*/
/*------- NAV -------*/
nav {
    background-color: grey;
    width: auto;
    position: inherit;
  }
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-right: 15px;
    margin-left: 15px;
}
nav ul li {
    font-size: 2rem;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    margin-top: 18px;
    margin-right: 15px;
}
/*--------------------*/

/*--------------- CLASES ---------------*/

/*------- LOGO -------*/
.logo{
    width: 120px;
    display: flex;
    margin-right: 0px;
    margin-left: -35px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*--------------------*/

.fontSize{
    font-size: 30px;
}
